# Go
/bin/
/pkg/
/vendor/

# Node
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
/build/
/coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.vscode/
/.idea/
/*.suo
/*.ntvs*
/*.njsproj
/*.sln

# OS files
.DS_Store
Thumbs.db
frontend/node_modules
